@import 'jeet'

*
  font-family Roboto, Arial, 'Hiragino Sans GB', 'Microsoft YaHei', 'WenQuanYi Micro Hei', sans-serif

html
   font-size 12px

body
  text-rendering optimizelegibilit
  text-align center
  padding 0 2rem
  h1.title
    color #5D504F
    letter-spacing 1px
    font-size 2.8rem
    line-height 3rem
    margin-bottom 0.5rem
  h2.subtitle
    color #ccc
    margin-top 0.8rem
    margin-bottom 1rem
    font-size 13px
  .line
    width 90%
    margin 0 auto
    border-bottom solid 1px #ddd
  a.right-btn
    margin-right 5%
    float right
    text-decoration none
    cursor pointer
  a.left-btn
    margin-left 5%
    float left
    text-decoration none
    cursor pointer
  .main
    align(direction=both)
    width 70rem
    +below(768px)
      height 6rem
      width 30rem
    +below(420px)
      height 6rem
      width 20rem
    +above(768px)
      height 4.6rem
      width 50rem
    #content
      height 100%
    .disabled {
      cursor: not-allowed;
      opacity: .65;
    }
    span
      float left
      margin-bottom 2px
      color #F36D40
    .number
      float none
      font-size 20px
      font-family: Constantia, Georgia;
    #email
      span(0.618)
      clear both
      border none
      background-color rgba(255, 255, 255, 0.9)
      border-radius 4px 0px 0px 4px
      border solid 1px #F36D40
      box-sizing border-box
      height 4rem
      color #000
      font-size 1.5rem
      pcolor=#ccc
      &::-webkit-input-placeholder { /* WebKit, Blink, Edge */
          color pcolor
      }
      &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
        color pcolor
        opacity 1
      }
      &::-moz-placeholder { /* Mozilla Firefox 19+ */
        color pcolor
        opacity 1
      }
      &:-ms-input-placeholder { /* Internet Explorer 10-11 */
        color pcolor
      }
    .sub
      +below(768px)
        padding 1rem
      span(0.382)
      padding 1rem
      height 4rem
      box-shadow none
      background-color #F36D40
      color #FBFCFB
      border-radius 4px
      border-bottom-left-radius 0px
      border-top-left-radius 0px
      text-decoration none
      cursor pointer
      box-sizing border-box
      font-size 1.5rem
      &:hover
        background-color #B63F17
  .footer
    color #ccc
    width 90%
    margin 0 auto
    position absolute
    bottom 2rem
    left 5%
    a
      color #aaa
      text-decoration underline
    .heart
      color red
  ul.archive
    align(direction=horizontal)
    white-space nowrap
    margin-top 5rem
    font-size 1.6rem
    line-height 150%
    +below(768px)
      span.date
        display none
      width
    a
      text-decoration none
      cursor pointer
    span.date
      color #ccc
