
html(lang="zh-CN")

  head
    meta(charset="UTF-8")/
    meta(name="viewport" content="width=device-width, initial-scale=1")/
    title Swift 开发者周刊
    link(rel="stylesheet" type="text/css" href="../assets/css/vendor/bootstrap.min.css")/
    link(rel="stylesheet" type="text/css" href="http://netdna.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css")
    link(rel="stylesheet" type="text/css" href="../assets/css/main.css")
    script(type="text/javascript" src="../assets/js/zepto.min.js")
    script(type="text/javascript" src="../assets/js/main.js")
   
  body
    h1.title Swift开发者周刊
    h2.subtitle 每周推送最新Swift资源
    div.line
    div.main
      form#content
        input#email(name="email" placeholder="swift@alloc.init" type="email")
        a.sub 订阅
    div.footer
      span 由 #[a(href="http://swift.gg" target="_blank") SwiftGG] 提供
